.milestone-one{
   &__single{
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }
   &__icon{
      color: $theme-color; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: $white;
      position: relative;
      z-index: 1;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
      &:before{
         position: absolute;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         content: "";
         border-radius: 50%;
         background-color: $theme-color;
         transform: scale(0);
         transform-origin: center;
         transform-style: preserve-3d;
         transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
         z-index: -1;
      }
      .icon{
         color: $theme-color;
         font-size: 32px;
         line-height: 1;
         transform: scale(1) rotateY(0deg);
         transition: all 500ms linear;
      }
   }
   &__content{
      display: block;
      text-align: center;
      float: none;
      width: 100%;
      margin-top: 10px;
   }
   &__number-inner{
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
      margin: 18px 0 18px;
      color: $theme-color-second;
      .symbol{
         position: relative;
         top: -4px;
         left: -5px;
      }
   }
   &__text{
      font-size: 16px;
      font-weight: 700;
      color: $headings-color;
      margin: 0;
   } 
   &__single{
      &:hover{
         .milestone-one{
            &__icon{
               &:before{
                  transform: scale(1);
               }
               .icon{
                  color: $white;
                  transform: scale(0.9) rotateY(360deg);
               }
            }
         }
      }
   }
}

.milestone-two{
   &__single{
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 30px 15px;
   }
   &__icon{
      color: $theme-color; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: $white;
      position: relative;
      z-index: 1;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
      &:before{
         position: absolute;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         content: "";
         border-radius: 50%;
         background-color: $theme-color;
         transform: scale(0);
         transform-origin: center;
         transform-style: preserve-3d;
         transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
         z-index: -1;
      }
      .icon{
         color: $theme-color;
         font-size: 32px;
         line-height: 1;
         transform: scale(1) rotateY(0deg);
         transition: all 500ms linear;
         margin-top: 18px;
      }
   }
   &__content{
      display: block;
      text-align: center;
      float: none;
      width: 100%;
   }
   &__number-inner{
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      margin: 0 0 15px;
      color: $theme-color;
      .symbol{
         position: relative;
         top: -4px;
         left: -5px;
      }
   }
   &__text{
      font-size: 16px;
      color: $headings-color;
      margin: 0;
      font-weight: 400;
      line-height: 26px;
   } 
   &__single{
      &:hover{
         .milestone-two{
            &__icon{
               &:before{
                  transform: scale(1);
               }
               .icon{
                  color: $white;
                  transform: scale(0.9) rotateY(360deg);
               }
            }
         }
      }
   }
   &__single{
      &.text-light{
         .milestone-two{
            &__number-inner{
               color: $white;
            }
         }
      }
   }
}

.milestone-three{
   &__single{
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }
   &__wrap{
      display: flex;
   }
   &__icon{
      color: $theme-color; 
      display: flex;
      flex: 0 0 75px;
      justify-content: center;
      align-items: center;
      margin: 0 auto 15px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: $bg-gray;
      position: relative;
      z-index: 1;
      &:before{
         position: absolute;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         content: "";
         border-radius: 50%;
         background-color: $theme-color;
         transform: scale(0);
         transform-origin: center;
         transform-style: preserve-3d;
         transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
         z-index: -1;
      }
      .icon{
         color: $theme-color;
         font-size: 32px;
         line-height: 1;
         transform: scale(1) rotateY(0deg);
         transition: all 500ms linear;
      }
   }
   &__content{
      display: block;
      text-align: left;
      float: none;
      width: 100%;
      margin-left: 20px;
   }
   &__number-inner{
      font-size: 40px;
      line-height: 40px;
      margin: 0 0 2px;
      color: $headings-color;
   }
   &__symbol{
      position: relative;
      top: -3px;
      left: -5px;
   }
   &__text{
      font-size: 16px;
      margin: 0;
      font-weight: 400;
      line-height: 26px;
      color: $body-color;
   } 
   &__single{
      &:hover, &.active{
         .milestone-three{
            &__icon{
               &:before{
                  transform: scale(1);
               }
               .icon{
                  color: $white;
                  transform: scale(0.9) rotateY(360deg);
               }
            }
         }
      }
   }
   &__single{
      &.text-light{
         .milestone-three{
            &__number-inner{
               color: $white;
            }
         }
      }
   }
}